#map {height: 100%;}
html, body {height: 100%;margin: 0;padding: 0;}
#right-panel {height: 100vh;}
.form-cont {background: #f5f5f5; margin: 0 -15px;}

.vicinity {
	color: #ada8a8;
	display: block;
}
.list-group-item {
	border: none !important;
	border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
@media screen and (max-width:767px){
	#map {height: 400px;}
	#right-panel { height: auto;margin-bottom: 30px;}
}